In [1]:
import pandas as pd
#import numpy as np

In [2]:
#Read the DataFrame
df=pd.read_csv('text_emotion.csv')
df.head()

,tweet_id,emotion,author,content
0,1956967666,sadness,wannamama,Layin n bed with a headache ughhhh...waitin o...
1,1956967696,sadness,coolfunky,Funeral ceremony...gloomy friday...
2,1956968487,sadness,ShansBee,"I should be sleep, but im not! thinking about ..."
3,1956969035,sadness,nic0lepaula,@charviray Charlene my love. I miss you
4,1956969172,sadness,Ingenue_Em,@kelcouch I'm sorry at least it's Friday?

In [3]:
#remove unwanted columns
df=df.drop(['tweet_id','author'], axis =1)
df.head()

   emotion                                            content
0  sadness  Layin n bed with a headache  ughhhh...waitin o...
1  sadness                Funeral ceremony...gloomy friday...
2  sadness  I should be sleep, but im not! thinking about ...
3  sadness            @charviray Charlene my love. I miss you
4  sadness         @kelcouch I'm sorry  at least it's Friday?

In [4]:
#convert content to lowercase
df.content=df.content.str.lower()
df.head()

   emotion                                            content
0  sadness  layin n bed with a headache  ughhhh...waitin o...
1  sadness                funeral ceremony...gloomy friday...
2  sadness  i should be sleep, but im not! thinking about ...
3  sadness            @charviray charlene my love. i miss you
4  sadness         @kelcouch i'm sorry  at least it's friday?

In [5]:
#replace blank space
df.content=df.content.str.replace("rt","")
df.head()

   emotion                                            content
0  sadness  layin n bed with a headache  ughhhh...waitin o...
1  sadness                funeral ceremony...gloomy friday...
2  sadness  i should be sleep, but im not! thinking about ...
3  sadness            @charviray charlene my love. i miss you
4  sadness         @kelcouch i'm sorry  at least it's friday?

In [6]:
#replace @username
df.content=df.content.str.replace("@\\w+","")
df.head()

   emotion                                            content
0  sadness  layin n bed with a headache  ughhhh...waitin o...
1  sadness                funeral ceremony...gloomy friday...
2  sadness  i should be sleep, but im not! thinking about ...
3  sadness                       charlene my love. i miss you
4  sadness                   i'm sorry  at least it's friday?

In [7]:
#remove punctuation
df.content=df.content.str.replace("[[:punct:]]","")
df.head()

   emotion                                            content
0  sadness  layin n bed with a headache  ughhhh...waitin o...
1  sadness                funeral ceremony...gloomy friday...
2  sadness  i should be sleep, but im not! thinking about ...
3  sadness                       charlene my love. i miss you
4  sadness                   i'm sorry  at least it's friday?

In [8]:
#remove links
df.content=df.content.str.replace("http\\w+","")
df.head()

   emotion                                            content
0  sadness  layin n bed with a headache  ughhhh...waitin o...
1  sadness                funeral ceremony...gloomy friday...
2  sadness  i should be sleep, but im not! thinking about ...
3  sadness                       charlene my love. i miss you
4  sadness                   i'm sorry  at least it's friday?

In [9]:
#remove tabs
df.content=df.content.str.replace("[ |\t]{2,}","")
df.head()

   emotion                                            content
0  sadness  layin n bed with a headacheughhhh...waitin on ...
1  sadness                funeral ceremony...gloomy friday...
2  sadness  i should be sleep, but im not! thinking about ...
3  sadness                       charlene my love. i miss you
4  sadness                     i'm sorryat least it's friday?

In [10]:
#remove blank spaces at the beginning
df.content=df.content.str.replace("^ ","")
df.head()

   emotion                                            content
0  sadness  layin n bed with a headacheughhhh...waitin on ...
1  sadness                funeral ceremony...gloomy friday...
2  sadness  i should be sleep, but im not! thinking about ...
3  sadness                       charlene my love. i miss you
4  sadness                     i'm sorryat least it's friday?

In [11]:
#remove blank spaces at the end
df.content=df.content.str.replace(" $","")
df.head()

   emotion                                            content
0  sadness  layin n bed with a headacheughhhh...waitin on ...
1  sadness                funeral ceremony...gloomy friday...
2  sadness  i should be sleep, but im not! thinking about ...
3  sadness                       charlene my love. i miss you
4  sadness                     i'm sorryat least it's friday?

In [12]:
emotion_type=df.emotion.value_counts()
emotion_type

happiness    5209
sadness      5165
surprise     2187
anger         110
Name: emotion, dtype: int64

In [13]:
X=df.content
X.head()

0    layin n bed with a headacheughhhh...waitin on ...
1                  funeral ceremony...gloomy friday...
2    i should be sleep, but im not! thinking about ...
3                         charlene my love. i miss you
4                       i'm sorryat least it's friday?
Name: content, dtype: object

In [14]:
print(X.shape)

(12671,)

In [15]:
y=df.emotion
y.head()

0    sadness
1    sadness
2    sadness
3    sadness
4    sadness
Name: emotion, dtype: object

In [16]:
print(y.shape)

(12671,)

In [17]:
from sklearn.model_selection  import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.7, random_state = 82)

In [18]:
X_train.head()

6175    i want to become vegetarian, it's going to be ...
3334    im sad...there's a for sale sign in front of m...
1260    the one day i want to listen to you live and t...
5295                              feels like throwing up!
8021    haha i know, i cant handle the fame!and thank ...
Name: content, dtype: object

In [19]:
y_train.head()

6175     surprise
3334      sadness
1260      sadness
5295    happiness
8021    happiness
Name: emotion, dtype: object

In [20]:
X_test.head()

4092    waaah! masseuse is fully booked. no shoulder r...
325              sorry, is only in spanish for the moment
7432    is such a good big cousin as shes taking her l...
8526    my computer is so slooowww this morning.i thin...
6364    i'm bored... don't want to stay home tonight, ...
Name: content, dtype: object

In [21]:
y_test.head()

4092     surprise
325       sadness
7432    happiness
8526      sadness
6364      sadness
Name: emotion, dtype: object

In [22]:
from sklearn.feature_extraction.text import CountVectorizer
vect = CountVectorizer(stop_words='english')

In [23]:
vect.fit(X_train)
vect.vocabulary_

{'want': 7440,
 'vegetarian': 7336,
 'going': 2889,
 'hard': 3127,
 'im': 3491,
 'sad': 5857,
 'sale': 5878,
 'sign': 6134,
 'house': 3376,
 'day': 1829,
 'listen': 4064,
 'live': 4072,
 'stream': 6479,
 'downenjoy': 2076,
 'podcast': 5301,
 'time': 6906,
 'feels': 2490,
 'like': 4037,
 'throwing': 6874,
 'haha': 3063,
 'know': 3861,
 'handle': 3101,
 'fame': 2440,
 'thank': 6800,
 'don': 2055,
 'make': 4239,
 'feel': 2487,
 'used': 7296,
 'shocked': 6087,
 'feeling': 2489,
 'sick': 6126,
 'happy': 3120,
 'quot': 5529,
 'locked': 4096,
 'abroad': 284,
 'makes': 4241,
 'bein': 858,
 'half': 3089,
 'brown': 1124,
 'good': 2903,
 'risk': 5761,
 'mgmt': 4411,
 'travelin': 7068,
 '3rd': 130,
 'world': 7704,
 'blend': 942,
 'sorry': 6316,
 'hostage': 3365,
 'magnet': 4227,
 'white': 7571,
 'pepo': 5156,
 'yeah': 7783,
 'saw': 5920,
 'looks': 4124,
 'work': 7683,
 'knowwhats': 3869,
 'upp': 7277,
 'handsome': 3103,
 'lovely': 4155,
 'left': 3990,
 'az': 711,
 'lol': 4100,
 'comedygood': 1539,
 'luck': 4173,
 'friend': 2705,
 'http': 3392,
 'twitpic': 7175,
 'com': 1531,
 '67swx': 234,
 'wish': 7622,
 'calling': 1234,
 'malta': 4249,
 'gotta': 2933,
 'terabyteof': 6770,
 'space': 6339,
 'store': 6465,
 'movies': 4596,
 'did': 1957,
 'sound': 6325,
 'input': 3546,
 'computer': 1563,
 'stop': 6463,
 'working': 7692,
 'mic': 4414,
 'jack': 3642,
 'usb': 7294,
 'webcam': 7497,
 'doesn': 2038,
 'checked': 1376,
 'controls': 1609,
 'anytimethat': 546,
 'giggles': 2843,
 'sorrydo': 6317,
 'aim': 406,
 'couple': 1655,
 'hours': 3374,
 'need': 4699,
 'vent': 7339,
 'better': 885,
 'way': 7483,
 'spoil': 6376,
 'mum': 4633,
 'let': 4012,
 'kick': 3817,
 'relax': 5653,
 'nice': 4748,
 'meal': 4330,
 'bottle': 1031,
 'favorite': 2471,
 'wine': 7612,
 'red': 5627,
 'follow': 2617,
 'boobfeed': 1001,
 'incredible': 3524,
 'tweet': 7147,
 '10': 12,
 'links': 4056,
 'free': 2679,
 'breasts': 1076,
 'tweeter': 7150,
 'nope': 4806,
 'home': 3311,
 'missed': 4474,
 'friggin': 2712,
 'hair': 3080,
 'appt': 568,
 'missi': 4478,
 'able': 282,
 'sleepi': 6198,
 'love': 4150,
 'great': 2967,
 'trip': 7089,
 'tomorrow': 6980,
 'send': 6004,
 'hahathanks': 3077,
 '3x3wq': 134,
 'impossible': 3507,
 'closely': 1486,
 'enjoy': 2272,
 'holsxxx': 3309,
 'really': 5596,
 'belive': 864,
 'thatxxx': 6812,
 'greaaat': 2965,
 'minee': 4446,
 'pleaseeeeee': 5280,
 'got': 2929,
 'obviously': 4879,
 'wrong': 7731,
 'costume': 1642,
 'shop': 6095,
 'cleaning': 1475,
 'starving': 6423,
 'bring': 1090,
 'food': 2631,
 'soooooo': 6308,
 'school': 5939,
 'myspace': 4660,
 'completely': 1559,
 'blocked': 955,
 'yes': 7805,
 'sadly': 5867,
 'scotland': 5947,
 'shane': 6045,
 'lt': 4170,
 'true': 7097,
 've': 7332,
 'keeping': 3798,
 'eye': 2401,
 'arent': 576,
 'tech': 6740,
 'savvy': 5919,
 'alright': 464,
 'far': 2452,
 'oh': 4900,
 'jealous': 3679,
 'surprising': 6609,
 'rooting': 5805,
 'ali': 433,
 'twitter': 7176,
 'war': 7446,
 'staed': 6404,
 'mother': 4576,
 'season': 5977,
 'best': 879,
 'night': 4759,
 'ohyeahhhhate': 4909,
 'heat': 3187,
 '665a2': 212,
 'getting': 2831,
 'ton': 6985,
 'spam': 6341,
 'mail': 4233,
 'inbox': 3516,
 'driving': 2122,
 'insane': 3549,
 'sanctuarysunday': 5892,
 'fav': 2469,
 'characterhas': 1354,
 'ashley': 612,
 'cause': 1312,
 'awesome': 682,
 'took': 7010,
 'awhile': 690,
 'accustomed': 310,
 'apple': 558,
 'btw': 1141,
 'amp': 489,
 'end': 2258,
 'knowwww': 3871,
 'deal': 1859,
 'life': 4028,
 'weird': 7527,
 'synced': 6664,
 'morning': 4562,
 'new': 4731,
 'episode': 2292,
 'people': 5153,
 'stressing': 6486,
 'today': 6951,
 'tucson': 7114,
 'tr': 7045,
 'mq39': 4608,
 'shall': 6043,
 'miss': 4473,
 'sour': 6332,
 'cream': 1688,
 'pie': 5218,
 'fondue': 2629,
 'separate': 6013,
 'seating': 5982,
 'groups': 3004,
 'dogs': 2046,
 'laptop': 3932,
 'sta': 6400,
 'ready': 5585,
 'forshindig': 2657,
 'twitterloves': 7187,
 'science': 5944,
 'boring': 1022,
 'fiddler': 2517,
 'topol': 7021,
 'girls': 2855,
 'looooved': 4127,
 'month': 4543,
 'annie': 523,
 '7th': 253,
 'row': 5820,
 'wait': 7419,
 'music': 4644,
 'sheet': 6054,
 'talk': 6693,
 'just': 3769,
 'remembering': 5665,
 'said': 5873,
 'thing': 6832,
 'fucking': 2728,
 'bully': 1162,
 'nasty': 4682,
 'pieces': 5220,
 'arrrrgrrrrrr': 600,
 'guys': 3043,
 'moving': 4601,
 'la': 3896,
 'castle': 1301,
 'leave': 3985,
 'afternoon': 366,
 '67iab': 228,
 'rounding': 5816,
 'bases': 784,
 'fast': 2461,
 'relays': 5656,
 'game': 2782,
 'didn': 1960,
 'deleted': 1893,
 'sent': 6009,
 'days': 1840,
 'agoandi': 384,
 'cried': 1700,
 'rr': 5824,
 'weekend': 7510,
 '12': 28,
 'exams': 2359,
 'week': 7508,
 'prevent': 5400,
 'itgot': 3617,
 'uni': 7249,
 'summerball': 6559,
 'sat': 5906,
 'hear': 3180,
 'tonight': 6988,
 'jleno': 3710,
 'maybe': 4315,
 'away': 679,
 'jump': 3761,
 'car': 1272,
 'pout': 5365,
 'allergies': 446,
 'suck': 6534,
 'ducks': 2143,
 'nuts': 4858,
 'gt': 3013,
 'raning': 5561,
 'bad': 736,
 'dont': 2060,
 'welli': 7533,
 'dentist': 1912,
 'appointment': 561,
 'later': 3944,
 'yea': 7780,
 'headed': 3171,
 'change': 1345,
 'head': 3168,
 'pelham': 5145,
 'thought': 6859,
 'suposed': 6594,
 'heading': 3172,
 'nkotb': 4778,
 'conce': 1567,
 'drop': 2125,
 'man': 4257,
 'hang': 3106,
 'instead': 3560,
 'nooooooooooooooo': 4804,
 '4g': 154,
 'prob': 5422,
 'june': 3764,
 'help': 3221,
 'rainy': 5552,
 'omg': 4927,
 'hollyoaks': 3306,
 'dramatic': 2096,
 'run': 5839,
 'cpt': 1671,
 'hope': 3344,
 'sunday': 6575,
 'little': 4071,
 'sister': 6164,
 'lot': 4143,
 'money': 4534,
 'saab': 5852,
 'coverage': 1663,
 'totalled': 7029,
 'yesterday': 7811,
 'finally': 2543,
 'welcoming': 7532,
 'followers': 2620,
 'think': 6837,
 'worldat': 7705,
 'hannah': 3111,
 'montana': 4541,
 'set': 6029,
 'missing': 4479,
 'tennessee': 6766,
 'alot': 457,
 'sun': 6567,
 'hiding': 3251,
 'hes': 3236,
 'having': 3153,
 'lie': 4026,
 'inhows': 3541,
 'spent': 6365,
 'troubleshooting': 7095,
 'wasn': 7463,
 'control': 1608,
 'clusters': 1498,
 'mean': 4331,
 'high': 3252,
 'availability': 665,
 'nooo': 4796,
 'real': 5587,
 'mushroom': 4643,
 'neighbor': 4709,
 'uprooted': 7280,
 'city': 1459,
 'usa': 7293,
 'sinse': 6159,
 'dis': 1992,
 'reply': 5687,
 'message': 4395,
 'nuffin': 4849,
 'pshh': 5469,
 'cares': 1278,
 'specialx': 6356,
 'friday': 2701,
 'grounded': 3002,
 'till': 6903,
 'thursday': 6880,
 'stereos': 6445,
 '333': 111,
 'fulfilling': 2736,
 'gonna': 2902,
 'soooo': 6306,
 'summer': 6557,
 'totally': 7030,
 'excited': 2363,
 'gets': 2829,
 'worse': 7710,
 'year': 7790,
 '2010': 69,
 '2011': 70,
 'worst': 7711,
 'months': 4544,
 'whoa': 7574,
 'steady': 6436,
 'mate': 4302,
 'fall': 2434,
 'worked': 7686,
 'plant': 5266,
 'believes': 863,
 'repect': 5682,
 'workin': 7691,
 'folks': 2615,
 'normal': 4810,
 'attacked': 641,
 'swarm': 6625,
 'mini': 4449,
 'fly': 2603,
 'opening': 4961,
 'veranda': 7342,
 'hour': 3373,
 'rid': 5742,
 'greatly': 2970,
 'appreciate': 562,
 'comment': 1548,
 'means': 4335,
 'progress': 5444,
 'hey': 3238,
 'chick': 1401,
 'alryt': 465,
 'dads': 1785,
 'tmoro': 6939,
 'sud': 6541,
 'sumin': 6556,
 'aen': 356,
 'neva': 4728,
 'dun': 2155,
 'oot': 4956,
 'lolmissed': 4105,
 'ha': 3052,
 'bye': 1205,
 'hun': 3417,
 'xxx': 7759,
 'hi': 3247,
 'uploaded': 7275,
 'chinese': 1416,
 'lessons': 4011,
 'www': 7740,
 'youtube': 7843,
 'chineselearn': 1417,
 'watch': 7472,
 'lmao': 4081,
 'stupid': 6516,
 'felt': 2497,
 'sayin': 5924,
 'tyaï': 7199,
 'caf': 1217,
 'vioce': 7366,
 'nite': 4774,
 'ya': 7760,
 'll': 4080,
 'wade': 7414,
 'god': 2880,
 'look': 4119,
 'stumpy': 6512,
 'sharing': 6049,
 'toes': 6972,
 'downtown': 2084,
 'drinking': 2116,
 'celebrating': 1323,
 'cavs': 1313,
 'victory': 7354,
 'hiiii': 3257,
 'lay': 3967,
 'patron': 5110,
 'water': 7478,
 'awww': 699,
 'bless': 944,
 'himi': 3267,
 'coming': 1546,
 '68': 237,
 'woooo': 7674,
 'kind': 3836,
 'style': 6519,
 'isn': 3603,
 'itand': 3611,
 'old': 4920,
 'chap': 1348,
 'young': 7837,
 'bahh': 748,
 'police': 5317,
 'ended': 2259,
 'pay': 5113,
 'staing': 6406,
 'thanks': 6803,
 'folow': 2628,
 'snipurl': 6258,
 'hq0n1': 3386,
 'printed': 5415,
 'mom': 4519,
 'amazon': 477,
 'gift': 2840,
 'cardfor': 1274,
 'mothers': 4577,
 'minute': 4457,
 'haven': 3150,
 'seen': 5995,
 'movie': 4594,
 'journalism': 3742,
 'major': 4237,
 'perfect': 5161,
 'fit': 2565,
 'sure': 6602,
 'entire': 2284,
 'blogroll': 960,
 'terribly': 6775,
 'updated': 7267,
 'motivate': 4579,
 'update': 7266,
 'redo': 5631,
 'children': 1405,
 'say': 5922,
 'mommies': 4525,
 'youth': 7842,
 'group': 3003,
 'meeting': 4353,
 'amazing': 473,
 'presencei': 5391,
 'expecting': 2384,
 'especially': 2315,
 'moms': 4529,
 'watching': 7476,
 'bed': 841,
 'bedtime': 846,
 'story': 6470,
 '777': 250,
 'leakycon': 3978,
 'number': 4852,
 'borgellajyou': 1021,
 'cats': 1310,
 'went': 7539,
 'jenny': 3689,
 'funso': 2754,
 'doo': 2062,
 'adventure': 352,
 'fun': 2740,
 'yr': 7848,
 'mo': 4500,
 'brave': 1061,
 'noes': 4783,
 'meanest': 4332,
 'lil': 4042,
 'boy': 1041,
 'girl': 2851,
 'loved': 4151,
 'ahnot': 402,
 'doing': 2049,
 'cbeebies': 1314,
 'epg': 2289,
 'chance': 1342,
 'hehe': 3205,
 'pinkyponk': 5231,
 'crash': 1682,
 'warnings': 7454,
 'journey': 3744,
 'long': 4115,
 'forgive': 2649,
 'huing': 3411,
 'blow': 967,
 'torch': 7024,
 'brokenthis': 1111,
 'bummer': 1165,
 'guess': 3017,
 'everythingthanks': 2346,
 'fans': 2449,
 'loop': 4128,
 'liked': 4038,
 'itnot': 3624,
 'woohoo': 7671,
 'sunbeam': 6569,
 'cafï': 1220,
 'series': 6017,
 'grinder': 2990,
 'eu': 2324,
 'foods': 2633,
 '198': 54,
 'epic': 2290,
 'win': 7603,
 'wooow': 7676,
 'charged': 1357,
 'ipod': 3593,
 'touch': 7032,
 'alive': 439,
 'coolio': 1621,
 'wants': 7444,
 'hate': 3141,
 'nights': 4763,
 'cos': 1637,
 'gorgeous': 2925,
 'weather': 7494,
 'asleep': 619,
 'coolthanks': 1622,
 'named': 4673,
 'recco': 5605,
 'peeps': 5143,
 'pretty': 5399,
 'honored': 3334,
 'blowin': 968,
 'ego': 2223,
 'simple': 6145,
 'dinner': 1984,
 'exist': 2376,
 'rest': 5707,
 'weekneomonia': 7519,
 'whuuurrrrr': 7583,
 'glands': 2864,
 'swollen': 6655,
 'relaxing': 5655,
 'cracking': 1676,
 'shots': 6100,
 'maybebut': 4316,
 'team': 6735,
 'living': 4077,
 'years': 7794,
 'cups': 1745,
 'talking': 6696,
 'boyfriend': 1043,
 'msn': 4615,
 'cheesecake': 1388,
 'brownies': 1125,
 'walma': 7436,
 'closest': 1488,
 'em': 2237,
 'wake': 7423,
 'appear': 556,
 'purple': 5490,
 'wow': 7716,
 'storm': 6468,
 'power': 5366,
 'raining': 5548,
 'gng': 2876,
 'rain': 5544,
 'dance': 1800,
 'bookmark': 1010,
 'cut': 1757,
 'gum': 3028,
 'meet': 4352,
 'robbinsons': 5773,
 'olawd': 4919,
 'pricelesssoooo': 5406,
 'funny': 2753,
 'goooooooood': 2922,
 'mornin': 4561,
 'tweeps': 7145,
 'monday': 4531,
 'tell': 6757,
 '8am': 260,
 'clean': 1471,
 'mid': 4418,
 'shifts': 6067,
 'awful': 686,
 'counting': 1652,
 'stupidly': 6517,
 'cancelled': 1250,
 'philly': 5184,
 'yep': 7802,
 'list': 4062,
 'conflicting': 1577,
 'planshow': 5265,
 'tired': 6920,
 'play': 5271,
 'random': 5559,
 'songs': 6294,
 'gitwar': 2857,
 'drama': 2094,
 'essay': 2316,
 'maaaaan': 4204,
 'aswell': 629,
 'tho': 6846,
 'whats': 7554,
 'walet': 7428,
 'kno': 3857,
 'evry1': 2348,
 'leavin': 3987,
 'horrible': 3355,
 'supposed': 6600,
 'ima': 3492,
 'bgt': 894,
 'didnt': 1961,
 'soo': 6297,
 'sadand': 5858,
 'huggin': 3404,
 'shining': 6071,
 'lesson': 4010,
 'flat': 2580,
 'devon': 1944,
 'caught': 1311,
 'ate': 633,
 'swallowed': 6624,
 'die': 1964,
 'tts': 7110,
 'ridiculously': 5746,
 'sweet': 6635,
 'michelleeeeeeeeeeeemybelleeeeeeeeeeeeeeeeee': 4416,
 'snif': 6254,
 'talkin': 6695,
 'turkey': 7128,
 'ss': 6398,
 'horse': 3360,
 'gettin': 2830,
 'rained': 5547,
 'lots': 4146,
 'events': 2334,
 'ben': 872,
 'incl': 3517,
 'coaches': 1503,
 'memories': 4375,
 'blip': 948,
 'fm': 2606,
 '5yxd4': 203,
 'nipissing': 4773,
 'pitasgood': 5242,
 'euphoria': 2325,
 'barrie': 780,
 'survive': 6612,
 'pitas': 5241,
 'smoothies': 6238,
 'forgot': 2650,
 'lumpia': 4181,
 'pancit': 5059,
 'fridge': 2703,
 'yay': 7772,
 'dreambears': 2105,
 'gay': 2805,
 'sitting': 6172,
 'payyyyy': 5123,
 'panera': 5064,
 'eating': 2191,
 'bacon': 734,
 'egg': 2220,
 'cheese': 1386,
 'coffee': 1513,
 '4jip9': 162,
 'woman': 7658,
 '67hvr': 227,
 'picture': 5214,
 'freshman': 2694,
 'thos': 6855,
 'kiau': 3816,
 'cat': 1303,
 'heaven': 3190,
 'seuss': 6033,
 'finger': 2550,
 'jk': 3708,
 'thats': 6811,
 'ignore': 3474,
 'trak': 7062,
 'van': 7328,
 'turns': 7133,
 'alcohol': 427,
 'tallented': 6698,
 'fitting': 2567,
 'closer': 1487,
 'puppy': 5487,
 'cool': 1620,
 'use': 7295,
 'eat': 2188,
 'quiet': 5522,
 'dayhttp': 1833,
 'bit': 920,
 'ly': 4196,
 'ijm54': 3480,
 'friends': 2708,
 'video': 7356,
 'heard': 3181,
 'slutted': 6217,
 'jealz': 3682,
 'twilightguy': 7165,
 'kalebnation': 3783,
 'sry': 6397,
 'spamming': 6343,
 'meant': 4336,
 'yardhouse': 7768,
 'waikiki': 7418,
 'bday': 816,
 'dj': 2023,
 'dozen': 2086,
 'hav': 3147,
 '100': 13,
 '1000': 14,
 'given': 2859,
 'grow': 3005,
 'won': 7660,
 'anythin': 543,
 'reviews': 5725,
 'surprised': 6608,
 'tickets': 6887,
 'celebrate': 1321,
 '15': 39,
 'minutes': 4458,
 'film': 2532,
 'come': 1538,
 'outthe': 4999,
 'camera': 1237,
 'broken': 1109,
 'lamesauce': 3922,
 'cheescake': 1385,
 'factory': 2418,
 'guts': 3036,
 'stuffed': 6508,
 'dm': 2026,
 'address': 340,
 'damn': 1793,
 'nothinghahaha': 4818,
 'miserablei': 4470,
 'gona': 2897,
 'crysux': 1727,
 'kill': 3829,
 'brush': 1136,
 'teeth': 6749,
 'chocolates': 1426,
 'right': 5749,
 'mommy': 4526,
 'sday': 5970,
 'soderling': 6274,
 'ferrer': 2502,
 'gilles': 2846,
 'simon': 6144,
 'lost': 4142,
 'sunny': 6578,
 'dollars': 2051,
 'lose': 4136,
 'maï': 4322,
 'ago': 383,
 'nah': 4666,
 'actually': 326,
 'sleepthe': 6204,
 'data': 1819,
 'recovery': 5625,
 'place': 5253,
 'called': 1233,
 'woke': 7651,
 'photos': 5200,
 'park': 5083,
 'hello': 3217,
 'london': 4112,
 'hackneys': 3058,
 'mental': 4382,
 'link': 4054,
 'late': 3940,
 'nothin': 4817,
 'alarm': 421,
 'came': 1236,
 'realize': 5591,
 'leaving': 3988,
 'early': 2176,
 'ok': 4912,
 'fine': 2548,
 'trying': 7107,
 'beat': 826,
 'cold': 1517,
 'winter': 7617,
 'swim': 6644,
 'refreshing': 5635,
 'muhahaha': 4630,
 'joined': 3724,
 'cult': 1739,
 'heyabtw': 3239,
 'twitterific': 7184,
 'iphone': 3592,
 'app': 554,
 'add': 333,
 'ur': 7288,
 'internet': 3570,
 'taught': 6718,
 'colbe': 1516,
 'repo': 5688,
 'sway': 6626,
 'baby': 724,
 'zommgg': 7873,
 'itneed': 3623,
 'screamo': 5955,
 'boys': 1045,
 'online': 4940,
 'club': 1494,
 'owner': 5011,
 'ean': 2173,
 'golden': 2893,
 'hahaha': 3069,
 'fan': 2444,
 'mention': 4383,
 'gutted': 3038,
 'bihday': 907,
 'soon': 6298,
 'brendon': 1081,
 'thinks': 6841,
 'lame': 3920,
 'drunk': 2134,
 'finnished': 2557,
 'double': 2071,
 'cheeseburger': 1387,
 'goodready': 2914,
 'spanish': 6344,
 'f1': 2404,
 'lolno': 4106,
 'effing': 2217,
 'wu': 7735,
 'tang': 6700,
 'shis': 6075,
 'represent': 5690,
 'sunburned': 6571,
 'face': 2410,
 'legs': 3998,
 'fixing': 2569,
 'arms': 589,
 'tooo': 7012,
 'pulled': 5479,
 'aunt': 656,
 'fell': 2493,
 'fiance': 2512,
 'fair': 2429,
 'sniff': 6255,
 'snifftake': 6257,
 'care': 1276,
 'ravels': 5574,
 'hopefully': 3347,
 'chatting': 1370,
 'hella': 3214,
 'ohi': 4905,
 'sorryi': 6318,
 'imagine': 3497,
 'reality': 5590,
 '20': 62,
 '50': 182,
 'hs': 3391,
 'office': 4893,
 'wanna': 7439,
 'finished': 2553,
 'return': 5718,
 'chasers': 1364,
 'quite': 5526,
 'crap': 1680,
 'compared': 1554,
 'mr': 4609,
 'tonematrix': 6986,
 'poor': 5329,
 'guy': 3041,
 'ill': 3486,
 'twittersphere': 7190,
 'emails': 2239,
 'using': 7300,
 'account': 306,
 'stuff': 6507,
 'understand': 7235,
 'changed': 1346,
 'passwords': 5095,
 'fabulous': 2408,
 'gone': 2898,
 'korean': 3877,
 'festival': 2504,
 '33': 109,
 'sexy': 6035,
 'shinee': 6069,
 'degree': 1888,
 'tear': 6736,
 'moment': 4521,
 'mypict': 4657,
 '1zpf': 61,
 'juddday': 3752,
 'carrie': 1286,
 'incredibly': 3525,
 'person': 5167,
 'energy': 2265,
 'laugh': 3949,
 'eah': 2170,
 'ppl': 5368,
 'green': 2976,
 'realized': 5592,
 'fantastic': 2450,
 'nerdfriends': 4716,
 'longer': 4116,
 'rochester': 5777,
 'song': 6293,
 'bored': 1020,
 'untill': 7263,
 'newt': 4741,
 'marry': 4288,
 'stuck': 6500,
 'situations': 6173,
 'profile': 5439,
 'glad': 2862,
 'graverobber': 2962,
 'wonder': 7661,
 'bother': 1028,
 'workwould': 7702,
 'fishing': 2563,
 'wide': 7587,
 'awake': 676,
 'grouchy': 3001,
 'fuck': 2725,
 ...}

In [24]:
X_train_transformed = vect.transform(X_train)
X_test_transformed =vect.transform(X_test)

In [25]:
print(type(X_train_transformed))
print(X_train_transformed)

<class 'scipy.sparse.csr.csr_matrix'>
  (0, 2889)	1
  (0, 3127)	1
  (0, 7336)	1
  (0, 7440)	1
  (1, 3376)	1
  (1, 3491)	1
  (1, 5857)	1
  (1, 5878)	1
  (1, 6134)	1
  (2, 1829)	1
  (2, 2076)	1
  (2, 4064)	1
  (2, 4072)	1
  (2, 5301)	1
  (2, 6479)	1
  (2, 6906)	1
  (2, 7440)	1
  (3, 2490)	1
  (3, 4037)	1
  (3, 6874)	1
  (4, 2440)	1
  (4, 3063)	1
  (4, 3101)	1
  (4, 3861)	1
  (4, 6800)	1
  :	:
  (3799, 2116)	1
  (3799, 2543)	1
  (3799, 2889)	1
  (3799, 3491)	1
  (3799, 3981)	1
  (3799, 4079)	1
  (3799, 4524)	1
  (3799, 5453)	1
  (3799, 5462)	1
  (3799, 5831)	1
  (3799, 7173)	1
  (3800, 489)	1
  (3800, 2242)	1
  (3800, 2740)	1
  (3800, 2910)	1
  (3800, 4922)	1
  (3800, 5175)	1
  (3800, 5206)	1
  (3800, 5667)	1
  (3800, 5920)	1
  (3800, 6298)	1
  (3800, 6846)	1
  (3800, 7288)	1
  (3800, 7751)	1
  (3800, 7811)	1

In [26]:
from sklearn.svm import SVC
svcclassifier = SVC(kernel = 'rbf', random_state = 1)
svcclassifier.fit(X_train_transformed, y_train)

SVC(random_state=1)

In [27]:
y_pred = svcclassifier.predict(X_test_transformed)
print(y_pred)

['sadness' 'sadness' 'happiness' ... 'happiness' 'happiness' 'sadness']

In [28]:
from sklearn import metrics
print(metrics.accuracy_score(y_test,y_pred))

0.6208568207440812