In [1]:
import pandas as pd
#import numpy as np

In [2]:
#Read the DataFrame
df=pd.read_csv('text_emotion.csv')
df.head()

,tweet_id,emotion,author,content
0,1956967666,sadness,wannamama,Layin n bed with a headache ughhhh...waitin o...
1,1956967696,sadness,coolfunky,Funeral ceremony...gloomy friday...
2,1956968487,sadness,ShansBee,"I should be sleep, but im not! thinking about ..."
3,1956969035,sadness,nic0lepaula,@charviray Charlene my love. I miss you
4,1956969172,sadness,Ingenue_Em,@kelcouch I'm sorry at least it's Friday?

In [3]:
#remove unwanted columns
df=df.drop(['tweet_id','author'], axis =1)
df.head()

   emotion                                            content
0  sadness  Layin n bed with a headache  ughhhh...waitin o...
1  sadness                Funeral ceremony...gloomy friday...
2  sadness  I should be sleep, but im not! thinking about ...
3  sadness            @charviray Charlene my love. I miss you
4  sadness         @kelcouch I'm sorry  at least it's Friday?

In [4]:
#convert content to lowercase
df.content=df.content.str.lower()
df.head()

   emotion                                            content
0  sadness  layin n bed with a headache  ughhhh...waitin o...
1  sadness                funeral ceremony...gloomy friday...
2  sadness  i should be sleep, but im not! thinking about ...
3  sadness            @charviray charlene my love. i miss you
4  sadness         @kelcouch i'm sorry  at least it's friday?

In [5]:
#replace blank space
df.content=df.content.str.replace("rt","")
df.head()

   emotion                                            content
0  sadness  layin n bed with a headache  ughhhh...waitin o...
1  sadness                funeral ceremony...gloomy friday...
2  sadness  i should be sleep, but im not! thinking about ...
3  sadness            @charviray charlene my love. i miss you
4  sadness         @kelcouch i'm sorry  at least it's friday?

In [6]:
#replace @username
df.content=df.content.str.replace("@\\w+","")
df.head()

   emotion                                            content
0  sadness  layin n bed with a headache  ughhhh...waitin o...
1  sadness                funeral ceremony...gloomy friday...
2  sadness  i should be sleep, but im not! thinking about ...
3  sadness                       charlene my love. i miss you
4  sadness                   i'm sorry  at least it's friday?

In [7]:
#remove punctuation
df.content=df.content.str.replace("[[:punct:]]","")
df.head()

   emotion                                            content
0  sadness  layin n bed with a headache  ughhhh...waitin o...
1  sadness                funeral ceremony...gloomy friday...
2  sadness  i should be sleep, but im not! thinking about ...
3  sadness                       charlene my love. i miss you
4  sadness                   i'm sorry  at least it's friday?

In [8]:
#remove links
df.content=df.content.str.replace("http\\w+","")
df.head()

   emotion                                            content
0  sadness  layin n bed with a headache  ughhhh...waitin o...
1  sadness                funeral ceremony...gloomy friday...
2  sadness  i should be sleep, but im not! thinking about ...
3  sadness                       charlene my love. i miss you
4  sadness                   i'm sorry  at least it's friday?

In [9]:
#remove tabs
df.content=df.content.str.replace("[ |\t]{2,}","")
df.head()

   emotion                                            content
0  sadness  layin n bed with a headacheughhhh...waitin on ...
1  sadness                funeral ceremony...gloomy friday...
2  sadness  i should be sleep, but im not! thinking about ...
3  sadness                       charlene my love. i miss you
4  sadness                     i'm sorryat least it's friday?

In [10]:
#remove blank spaces at the beginning
df.content=df.content.str.replace("^ ","")
df.head()

   emotion                                            content
0  sadness  layin n bed with a headacheughhhh...waitin on ...
1  sadness                funeral ceremony...gloomy friday...
2  sadness  i should be sleep, but im not! thinking about ...
3  sadness                       charlene my love. i miss you
4  sadness                     i'm sorryat least it's friday?

In [11]:
#remove blank spaces at the end
df.content=df.content.str.replace(" $","")
df.head()

   emotion                                            content
0  sadness  layin n bed with a headacheughhhh...waitin on ...
1  sadness                funeral ceremony...gloomy friday...
2  sadness  i should be sleep, but im not! thinking about ...
3  sadness                       charlene my love. i miss you
4  sadness                     i'm sorryat least it's friday?

In [12]:
emotion_type=df.emotion.value_counts()
emotion_type

happiness    5209
sadness      5165
surprise     2187
anger         110
Name: emotion, dtype: int64

In [13]:
X=df.content
X.head()

0    layin n bed with a headacheughhhh...waitin on ...
1                  funeral ceremony...gloomy friday...
2    i should be sleep, but im not! thinking about ...
3                         charlene my love. i miss you
4                       i'm sorryat least it's friday?
Name: content, dtype: object

In [14]:
print(X.shape)

(12671,)

In [15]:
y=df.emotion
y.head()

0    sadness
1    sadness
2    sadness
3    sadness
4    sadness
Name: emotion, dtype: object

In [16]:
print(y.shape)

(12671,)

In [48]:
from sklearn.model_selection  import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.7, random_state = 82)

In [49]:
X_train.head()

6175    i want to become vegetarian, it's going to be ...
3334    im sad...there's a for sale sign in front of m...
1260    the one day i want to listen to you live and t...
5295                              feels like throwing up!
8021    haha i know, i cant handle the fame!and thank ...
Name: content, dtype: object

In [50]:
y_train.head()

6175     surprise
3334      sadness
1260      sadness
5295    happiness
8021    happiness
Name: emotion, dtype: object

In [51]:
X_test.head()

4092    waaah! masseuse is fully booked. no shoulder r...
325              sorry, is only in spanish for the moment
7432    is such a good big cousin as shes taking her l...
8526    my computer is so slooowww this morning.i thin...
6364    i'm bored... don't want to stay home tonight, ...
Name: content, dtype: object

In [52]:
y_test.head()

4092     surprise
325       sadness
7432    happiness
8526      sadness
6364      sadness
Name: emotion, dtype: object

In [53]:
from sklearn.feature_extraction.text import CountVectorizer
vect = CountVectorizer(stop_words='english')

In [54]:
vect.fit(X_train)
#vect.vocabulary_

CountVectorizer(stop_words='english')

In [55]:
X_train_transformed = vect.transform(X_train)
X_test_transformed =vect.transform(X_test)

In [56]:
print(type(X_train_transformed))
#print(X_train_transformed)

<class 'scipy.sparse.csr.csr_matrix'>

In [57]:
from sklearn.svm import SVC
svcclassifier = SVC(kernel = 'rbf', random_state = 1)
svcclassifier.fit(X_train_transformed, y_train)

SVC(random_state=1)

In [58]:
y_pred = svcclassifier.predict(X_test_transformed)
print(y_pred)

['sadness' 'sadness' 'happiness' ... 'happiness' 'happiness' 'sadness']

In [59]:
from sklearn import metrics
print(metrics.accuracy_score(y_test,y_pred))

0.6208568207440812

In [68]:
New_text=(input('Enter the Text : '))
New_Data=[[New_text]]
#Emotion=pd.DataFrame(New_Data,columns=['content'])
user_classification = svcclassifier.predict(New_Data,y_train)
print(user_classification)

TypeError: predict() takes 2 positional arguments but 3 were given